<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8" style="left: 20%; bottom: -10px">
                <div class="card" style="left: -8%; top: 39px">


                    <div class="card-header card-header-info">

                        <h4 class="text-center" class="card-title">Apropos De Notre Site</h4>
                    </div><br>
                    <section id="team" class="pb-5">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-xs-12 col-sm-6 ">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside ">
                                                <div class="card ">
                                                    <div class="card-body text-center">
                                                        <p><img class="img-fluid" src="./assets/img/A1.png"
                                                                alt="card image"></p>
                                                        <h4 class="card-title">Créativité</h4>
                                                        <p class="card-text"></p>
                                                        <a href="#" class="btn  btn-sm"
                                                            style="background-color:#f57921"><i
                                                                class="fa fa-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="backside">
                                                <div class="card">
                                                    <div class="card-body text-center mt-4">
                                                        <h4 class="card-title">Créativité</h4>
                                                        <p class="card-text"> La seule limite de notre platforme ISIMA
                                                            E-LEARNING est l'imagination de l'utilisateur.</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="col-xs-12 col-sm-6 ">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip ">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <p><img class=" img-fluid" src="./assets/img/A2.png"
                                                                alt="card image"></p>
                                                        <h4 class="card-title">Technologogies</h4>
                                                        <p class="card-text"></p>
                                                        <a href="#" class="btn  btn-sm"
                                                            style="background-color:#6683ab"><i
                                                                class="fa fa-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="backside">
                                                <div class="card">
                                                    <div class="card-body text-center mt-4">
                                                        <h4 class="card-title">Technologogies</h4>
                                                        <p class="card-text">ISIMA E-LEARNING veut mettre tout le
                                                            potentiel de la technologie au service de l'apprentissage.
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="col-xs-12 col-sm-6 ">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <p><img class=" img-fluid" src="./assets/img/A3.png"
                                                                alt="card image"></p>
                                                        <h4 class="card-title">Collaboration</h4>
                                                        <p class="card-text"></p>
                                                        <a href="#" class="btn  btn-sm"
                                                            style="background-color:#f4cb21"><i
                                                                class="fa fa-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="backside">
                                                <div class="card">
                                                    <div class="card-body text-center mt-4">
                                                        <h4 class="card-title">Collaboration</h4>
                                                        <p class="card-text">Gràce aux outils collaboratifs, Vous
                                                            pourrez exploiter toute la puissance du groupe.</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="col-xs-12 col-sm-6">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <p><img class=" img-fluid" src="./assets/img/A4.png"
                                                                alt="card image"></p>
                                                        <h4 class="card-title">Flexibilité</h4>
                                                        <p class="card-text"></p>
                                                        <a href="#" class="btn  btn-sm"
                                                            style="background-color:#037b9d"><i
                                                                class="fa fa-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="backside">
                                                <div class="card">
                                                    <div class="card-body text-center mt-4">
                                                        <h4 class="card-title">Flexibilité</h4>
                                                        <p class="card-text">Gràce à des technologies, ISIMA E-LEARNING
                                                            vous permet de vous former n'importe où, n'importe quand et
                                                            sur n'import quel support.</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              


                            </div>
                        </div>
                    </section>
                    
                </div>
            </div>
        </div>
    </div>
</div>