<div class="logo">

 <img class="logo1" src="/assets/img/ff.png"/>

</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
                
            </a>
        </li>
        <li routerLinkActive="active" *ngFor="let menuItemEtud of menuItemsEtud" class="{{menuItemEtud.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItemEtud.path]">
                <i class="material-icons">{{menuItemEtud.icon}}</i>
                <p>{{menuItemEtud.title}}</p>
            </a>
        </li>
        <li routerLinkActive="active" *ngFor="let menuItemsAdmin of menuItemsAdmin" class="{{menuItemsAdmin.class}} nav-item">
                <a class="nav-link" [routerLink]="[menuItemsAdmin.path]">
                    <i class="material-icons">{{menuItemsAdmin.icon}}</i>
                    <p>{{menuItemsAdmin.title}}</p>
                </a>
        </li>
        <li routerLinkActive="active" *ngFor="let menuItemsense of menuItemsense" class="{{menuItemsense.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItemsense.path]">
                <i class="material-icons">{{menuItemsense.icon}}</i>
                <p>{{menuItemsense.title}}</p>
            </a>
    </li>
    </ul>
</div>
